.login{
	width: 100%;
	height: 630px;
	background-image: url('../../assets/images/onion\ \(2\).jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}
.form-login{
    width: 30%;
	float: right;
    border: 1px solid orange;
	margin-top: 50px;
	margin-right: 70px;
    border-radius: 8px;
    text-align: center;
	height: 495px;
	background: rgba(255, 255, 255, 0.5);
}
.form-login h1{
	font-size: 55px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);

}
.inp-login{
    width: 75%;
    height: 50px;
    border: 1px solid #ccc;
    border-top-right-radius: 20px;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	background: rgba(255, 255, 255, 0.5);

}
.save{
	float: right;
}

.bnt-login{
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient( to right, orange  , orangered);
    margin: 55px 0;
	color: white;
}


.change{
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);
	position: relative;
}
.change::before{
	content: '';
    background-image: linear-gradient( to right, orange  , orangered);
	width: 0;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%);
	transition: width 0.2s;
}
.change:hover::before{
	width: 100%;
}

.form-signup{
	width: 30%;
	background-color: opacity($color: white);
	border: 2px solid orange;
	border-radius: 8px;
	text-align: center;
	float: right;
	height: 495px;
	margin-top: 50px;
	margin-right: 70px;
}
.form-signup h1{
	font-size: 55px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);
	
}
.inp-SignUp{
	width: 75%;
	height: 50px;
    border: 1px solid #ccc;
	margin: 5px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	background: rgba(255, 255, 255, 0.5);
}
.bnt-signup{
	width: 75%;
    height: 50px;
    border: none;
	border-radius: 20px;
    background-image: linear-gradient( to right, orange  , orangered);
    margin-bottom: 10px;
	color: white;
}



.err-msg{
	color: red;
	text-align: right;
	margin-right: 50px;
	font-size: 12px;
}
.hidden{
	visibility: hidden;
}
