.login{
	width: 100%;
	height: 630px;
	background-image: url('../../assets/images/onion\ \(2\).jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}
.form-login{
    width: 30%;
	float: right;
    border: 2px solid orange;
	margin-top: 50px;
	margin-right: 70px;
    border-radius: 8px;
    text-align: center;
	height: 495px;
	background: rgba(255, 255, 255, 0.5);
}
.form-login h1{
	font-size: 55px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);

}
.inp-login{
    width: 75%;
    height: 50px;
    border: 1px solid #ccc;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	background: rgba(255, 255, 255, 0.5);
	&::-webkit-input-placeholder {
		font-size: 15px;
		opacity: 0.7;
	}
}
.save{
	float: right;
}

.bnt-login{
    width: 75%;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient( to right, orange  , orangered);
    margin: 50px 0;
	color: white;
	cursor: pointer;
}


.change{
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);
	position: relative;
	cursor: pointer;
}
.change::before{
	content: '';
    background-image: linear-gradient( to right, orange  , orangered);
	width: 0;
	border-radius: 20px;
	height: 5px;
	position: absolute;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%);
	transition: width 0.2s;
}
.change:hover::before{
	width: 100%;
}

.form-signup{
	width: 30%;
	background-color: opacity($color: white);
	border: 2px solid orange;
	border-radius: 8px;
	text-align: center;
	float: right;
	height: 495px;
	margin-top: 50px;
	margin-right: 70px;
}
.form-signup h1{
	font-size: 55px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient( to right,  orange,  orangered);
	
}
.inp-SignUp{
	width: 75%;
    border: 1px solid #ccc;
	margin: 13px 0;
	border: none;
	border-bottom: 1px solid #333;
	outline: none;
	background: rgba(255, 255, 255, 0.5);
	height: 30px;
	color: black;
	&::-webkit-input-placeholder {
		font-size: 15px;
		opacity: 0.7;
	}
}


.bnt-signup{
	width: 75%;
    height: 50px;
    border: none;
	border-radius: 20px;
    background-image: linear-gradient( to right, orange  , orangered);
    margin-bottom: 10px;
	color: white;
	cursor: pointer;
}



.err-msg{
	color: red;
	text-align: right;
	margin-right: 50px;
	font-size: 15px;
}
.hidden{
	visibility: hidden;
}


@media only screen and (max-width: 600px ){
	.login{
		background-image: none;
	}
	.form-signup{
		width: 100%;
		margin-right: 0px;
		background-image: linear-gradient( 135deg, pink, violet);
	}
	.form-login{
		width: 100%;
		margin:0px;
	}
	// .inp-SignUp{
		
	// }
}