.wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%), 0 4px 5px 0 rgb(0 0 0 / 4%);
    li {
       padding: 3px 15px;
   }
   a {
      display: block;
      padding-right: calc(3rem + 16px);
      color:  black;
      font-weight:400 ;
    }
}
.wrapper li:hover {
    color: #16181b;
    background-color: #f8f9fa;
}