// Cart
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  //max-width: 480px;
  background-color: rgba($color: #000, $alpha: 0.4);
  z-index: 9999;
  display: block;
  bottom: 0;
  border-left: 1px solid #eee;
  transition: transform 0.25s linear;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}

.content {
  width: 480px;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  &_list {
    position: relative;
    min-height: 100%;
    padding: 60px 20px 250px;
    justify-content: space-around;

    & h3 {
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
    }
  }
}

.text {
  width: 100%;
  margin: 5px 0 0;
  padding: 0 0 15px;
  border-bottom: 1px dotted #bcbcbc;
  font-size: 14px;
  font-weight: 400;
}

.btn_close {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 55px;
  right: 18px;
  background: none;
  cursor: pointer;

  & img {
    width: 20px;
  }
}

table tr td {
  padding: 10px;
}

table tr td:first-child {
  padding-left: 0;
}

#cart_view tr td {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 20px 20px 0;
}

.text-left {
  text-align: left;
}

.cart_total {
  width: 100%;
}

.text-right {
  text-align: right;
}

.line {
  float: left;
  width: 100%;
  border-top: 2px solid #000;
  margin: 10px 0;
}

.btn_checkout {
  font-size: 14px;
  padding: 10px 30px;
  width: 100%;
  float: left;
  white-space: nowrap;
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
}

.cart_link {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  float: left;
}

.item{
  margin: 15px 0;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 10px;
}
.product_image{
  width: 32%;
  img{
    width: 100%;
  }
}

.quantity{
  display: flex;
  align-items: center;
  & .amount_btn{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
    & button{
      padding: 0 10px;
      cursor: pointer;
    }
    & input{
      text-align: center;
      width:50px;
    }
  }
}
