.contaier {
    

    width: 90%;
    margin:0 auto ;
}
//Header
.header {
    font-size: 13px;
}
.header.fixed {
    position: fixed;
    top: -110px;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    animation: myfixed .6s both;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    opacity: 0;
}
@keyframes myfixed {
    to {
        top: 0;
        opacity: 1;
    }
  }

.subnav{
    display: flex;
    background: #f2f2f2;
    padding: 5px 40px;
    justify-content: space-between;
    
    font-size: 14px;
}
.phone{
    font-weight: 500;
}

.icon{
    margin-right: 5px;
    color:  #999;
    font-size: 13px;
}

.numb{
    color: #252a2b;
    font-weight: 700;
}

.info-user{
    display: flex;
    column-gap: 10px;
}

.text{
    color: #252a2b;
    font-weight: 400;
}
.quantity{
    color: #f40000;
}

.nav-box{
    display: flex;
    padding: 3px 10px;
    align-items: center;
    justify-content: space-between;
}
.nav {
    display: flex;
    font-size: 15px;
    padding-left: 30px;
    li {
        padding: 20px 0;
        margin: 0 11px;
        font-weight: 500;
    } 
    a {
        position: relative;
        font-weight: 700;
        font-size: 20px;
    }
}
.nav li a::after {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -10px;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    background: #252a2b;
    border-radius: 2px;
    transition: width 0.3s;
}
.nav li a:hover::after {
    width: 80%;
}
.logo img {
    width: 150px;
    height: 44px;
}
.search {
    width: 240px;
    padding: 8px 15px;
    position: relative;
    border-radius: 22px;
    background-color: #fefefe;
    border: solid 1px #a7a7a7;
    .value-product {
        width: 85%;
    }
}

.btnSearch {
    font-size: 0;
    border: none;
    width: 20px;
    top: 50%;
    left: 82%;
    height: 20px;
    position: absolute;
    transform: translateY(-50%);
    background: url('../../assets/images/icon-search.svg');
}
//footer
.infos-footer {
    display: flex;
    justify-content: space-around;
    margin: 0 70px;
    padding: 40px;
    border-top: 1px solid #d0d0d0;
}
.info {
    padding: 0 15px;
    .content {
        line-height: 1.1;
        p {
            display: flex;
            align-items: center;
        }
    }
}

.box-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: #e52c25;
    color: #fff;
    border-radius: 100%;   
    .phone-icon {
        font-size: 12px;
    }
}

.box-phone {
    padding-left: 15px;
    a {
        font-size: 27px;
    }
}

.time {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 400;
    color: #252a2b;
}
.box-email {
    display: flex;
    align-items: center;
    padding: 5px ;
    color: #333;
    border: 1px solid #d0d0d0;
}
.btn {
    cursor: pointer;
    padding: 8px;
    font-size: 11px;
    margin-left: 5px;
    background: #000;
    color: #fff;
    height: 100%;
}
.box-brands {
    display: flex;
    justify-content: center;
    font-size: 22px;
    li {
        padding:5px;
    }
    a {
        padding: 10px;
    }
}

.footer {
    background: #f1f1f1;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 30px ;
}
.item ul li {
    padding: 5px 0;
    font-size: 12px;
    font-weight: 400;
}
.us {
    display: block;
    width: 100%;
    width: 142px;
    height: 54px;
}
.bottom-footer {
    padding: 15px 40px;
    text-align: right;
    font-size: 13px;
    
    span {
        color: #dc3333;
       
    }
}
//backtotopbutn
.up-top {
    display: flex;
    align-items: center;
    position: fixed;
    right: -20px;
    bottom: 100px;
    cursor: pointer;
    color: #000;
    font-size: 11px;
    font-weight: 900;
    transform: rotate(-90deg);
    
    span {
        font-size: 15px;
        font-weight: 600;
        padding-right: 8px;
    }
    .icon-up {
        font-size: 20px;
    }
}