.wrapper {
    margin-top: 20px;
}
.heading {
    font-weight: 400;
    margin-bottom: 5px;
}
.icon {
    font-size: 1.3rem;
    margin-left: 15px;
}
.movie-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}
